/* Copyright © 2019 TLA Designs, LLC. All rights reserved. */
@CHARSET "UTF-8";
html {
	height: 100%;
	margin: 0px;
}

body {
	color: white;
	background: linear-gradient(black, black, rgba(15,0,153,1));
	overflow: hidden;
	min-height: 100%;
	margin: 0px;
}

#buttons {
	z-index: 1100;
}

#countyResults {

}

#resultsWindow {
	background: rgba(0,0,0,0.8);
}

#stateMap {

}

#toolTip {
	position: absolute;
	background: black;
	z-index: 1100;
}

.modal .modal-body {
	overflow-y: auto;
	max-height: 350px;
}

.modal-content {
	background: rgba(0,0,0,0.8);
}

.modal-dialog{
	margin-top: 0px;
}
.resultsContainer {
	width: 85%;
	margin: auto;
	pointer-events: none;
}

.DEM {
	fill: blue
}

.REP {
	fill: red
}