@CHARSET "UTF-8";

.island{
	stroke: white;
	stroke-width: .2;
}

.main{
	stroke: white;
	stroke-width: 1;
}

.state {
	fill: grey;
}

.county {
	fill: grey;
}

.county:hover {
	fill: blue;
}

.state:hover {
	fill: blue;
}