@CHARSET "UTF-8";

.state.island{
	stroke-width: .2;
}

.state.main{
	stroke-width: 1;
}

.state {
	fill: grey;
	stroke: white;
}

.state:hover {
	fill: red;
}

.county {
	fill: grey;
	stroke: white;
	display: none;
}

.county:hover {
	fill: red;
}

.county.island{
	stroke-width: .2;
}

.county.main{
	stroke-width: 1;
}
