@CHARSET "UTF-8";

#heading {
	font-family: serif;
	border: 1px solid black;
	border-radius: 10em/5em
}
 
#mapSVG {
	border: 1px solid black;
}

#canidates {
	border: 1px solid black;
}
	
}
#buttons {
	position:fixed;
    bottom: 0;
}
