@CHARSET "UTF-8";

#heading {
	font-family: impact;
	font-size: 50px;
	color: white;
/*	border: 5px solid grey; 
	border-radius: 10em/5em; */
}
 
#canidates {
	font-family: arial;
	/*position: relative;
	border-top: 10px groove;
	border-color: blue;*/
}
#DEM {
/*	border: 3px groove;
	border-color: grey;
	border-radius: 5em/10em; */
	float: left; 
	width: 49%;
	color: white; 
	font-size: 25px;
}

#REP {
/*	border: 3px solid grey;
	border-radius: 5em/10em; */
	float: right; 
	width: 49%;
	color: white;
	font-size: 25px;
}

#DEM_vote {
	float: right;
	width: 49%;
	color: white;
}

#REP_vote {
	float: left;
	width: 49%;
	color: white;
}

#mapSVG {
/*	border: 1px solid red; */
	position: relative;
}

#buttons {
	position:fixed;
    bottom: 0;
}

#toolTip {
	color: white;
	position:absolute;
}