/* Copyright © 2016 TLA Designs, LLC. All rights reserved. */
@CHARSET "UTF-8";

.state {
	fill: grey;
	stroke: white;
}

.county {
	fill: grey;
	stroke: white;
}

.island{
	stroke-width: .2;
}

.main{
	stroke-width: 1;
}

/*.state:hover {
	fill: red;
}

.county:hover {
	fill: blue;
}
*/
