/* Copyright © 2021 TLA Designs, LLC. All rights reserved. */
@CHARSET "UTF-8";

.state {
	fill: grey;
	stroke: white;
}

.county {
	fill: grey;
	stroke: white;
}

.island{
	stroke-width: 1;
}

.main{
	stroke-width: 1;
}