/* Copyright © 2021 TLA Designs, LLC. All rights reserved. */
@CHARSET "UTF-8";

.island{
	stroke: white;
	stroke-width: 1;
}

.main{
	stroke: white;
	stroke-width: 1;
}

.state {
	fill: grey;
}

.county {
	fill: grey;
}

.state:hover {
	fill: blue;
}

.county:hover {
	fill: blue;
}


