/* Copyright © 2019 TLA Designs, LLC. All rights reserved. */
/* html {
	height: 100%;
	margin: 0px;
}

body {
	background: linear-gradient(black, black, rgba(15,0,153,1));
	min-height: 100%;
	margin: 0px;
} */
html, body {
    overflow: hidden;
	height: 100%;
}
#mainContainer{
	background: linear-gradient(black, black, rgba(15,0,153,1));
	height: 100%;
}

#centerContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

#mapContainer{
	height: 83%;
}


#buttons {
	z-index: 1100;
}

#countyResults {

}


#toolTip {
	position: absolute;
	background: black;
	z-index: 1100;
}

#topBanner {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	font-size: 10px;
	margin: auto;
}

.myModal {
	position: absolute;
	overflow: hidden;
}

.modalContent {
	background: rgba(0,0,0,0.8);
}

.modalDialog{
	margin-top: 0px;
}

.ph{
	opacity: 0.0;
}

.resultsContainer {
	width: 85%;
	margin: auto;
}

#resultsWindow {
	background: rgba(0,0,0,0.8);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }